body {
    background-image: url("../images/space3.jpg");
    background-size: cover;
    font-family: 'Roboto Mono', monospace;
}

#myPic {
    width: 35%;
    height: 35%;
}

.media {
    color: white;
}

.btn {
    background-color: rgba(3,0,50,1);
    color: white;
}

.fab, .far {
    color: white;
}

.jumbotron {
    margin-top: 20%;
    color: white;
    background: rgb(3,0,50);
    background: radial-gradient(closest-side, rgba(3,0,50,1) 0%, rgba(177,209,254,0) 100%);
}
.media-body{
    background: rgb(3,0,50);
    background: radial-gradient(closest-side, rgba(3,0,50,1) 10%, rgba(177,209,254,0) 100%);
}
body {
    animation: fadein 3s;   
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media (max-width: 300px) {
    .icons {
        position: fixed;
        bottom: 50px;
        /* left: 20%;
        right: 50%; */
        width: 100%;
        justify-content: space-between;
        display: flex;
        padding-left: 100px;
        padding-right: 100px;
    }
}